.carousel {
    margin:10vh auto;
    overflow: hidden;
    width: 640px;
    position: relative;
}
h3 {
    text-align: center;
}
h3 span{
    font-size: 11px;
}
.left-btn {
    position: absolute;
    background: url(../img/arrow.svg) center no-repeat;
    fill:aliceblue;
    width: 50px;
    height: 100%;
    left: 0;
    opacity: 0.8;
}
.left-btn:hover {
    opacity: 1;
}
.right-btn {
    position: absolute;
    background: url(../img/arrow.svg) center no-repeat;
    fill:aliceblue;
    width: 50px;
    height: 100%;
    transform: rotate(180deg);
    right: 0;
    opacity: 0.8;
}
.right-btn:hover{
    opacity: 1;
}

.dot-bar{
    position: absolute;
    bottom: 0;
    left: 40%;
    height: 30px;
}

.controls {
    display: none;
}
.dot {
    height: 20px;
    width: 20px;
    display: inline-block;
    background:url('../img/dot.svg') no-repeat;
    opacity: 0.5;
}

.active {
    opacity: 1;
}
.dot:hover {
    opacity: 1;
}